:root {
  --p-form-field-b-weight: 0.1;
}

body {
  font-size: 13px;
  line-height: 1.2;
  color: black;
  font-family: Inter, "san-serif";
}

.main-btn {
  @apply bg-main-2 text-white hover:bg-main-1 transition-colors duration-500 border-none p-2;
}

.cancel-btn {
  @apply bg-gray-200 text-gray-700 border-none;
  &:hover:enabled {
    @apply bg-gray-300;
  }
}

.transparent-btn {
  @apply bg-transparent text-white border-none;
  &:hover:enabled {
    @apply bg-transparent text-white brightness-90;
  }
}

.p-dialog-header {
  @apply text-lg text-main-1 font-bold pb-1;
}

input,
textarea {
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, var(--p-form-field-b-weight)),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
input:focus {
  --p-form-field-b-weight: 0.4;
}

input {
  padding: 8px;
}

.breakline {
  word-break: break-word;
}
